<!--
<script type="text/javascript">
    async function save(id, oldvalue) {
        var status;
        try {
            const result = await fetch('/admin/save-status', {
                method: "POST",
                body: JSON.stringify({id: document.getElementById('id' + id).value, status: document.getElementById('status' + id).value}),
                headers: {"Content-Type":"application/json"}
            })
            status = result.status;
        }
        catch (e) {
        }
        if (status === 201) {
            document.getElementById('statusresult' + id).innerHTML = "Status changed: " + oldvalue + " => " + document.getElementById('status' + id).value;
        } else {
            document.getElementById('statusresult' + id).innerHTML = "Status change failed!";
        }
        document.getElementById('status' + id).blur();
    }
</script> 
-->
<h1>View received feedbacks</h1>
<br>
{{> admin-navigation}}
<br>
<div class="maincontent">
    <div class="blogs">
    <h2>Feedbacks</h2>
    {{#if feedbacks.length}}
        <ul>
            {{#each feedbacks}}
                <li>
                    <h3>{{this.email}}</h3>
                        <input type="hidden" id="id{{@index}}" value={{this.id}}>
                        <label for="subject">Subject:</label>
                        <select id="subject{{@index}}" name="subject" onfocus="oldvalue = this.value" onchange="changed({{@index}}, oldvalue, 'subject')">
                            <option value="feedback" {{#if (eq this.subject 'feedback')}}selected{{/if}}>Feedback</option>
                            <option value="issue" {{#if (eq this.subject 'issue')}}selected{{/if}}>Issue</option>
                        </select>
                        <span id="subjectresult{{@index}}" class="result"></span>
                        <br>
                        <label for="status">Status:</label>
                        <select id="status{{@index}}" name="status" onfocus="oldvalue = this.value" onchange="changed({{@index}}, oldvalue, 'status')">
                            <option value="New" {{#if (eq this.status 'New')}}selected{{/if}}>New</option>
                            <option value="Read" {{#if (eq this.status 'Read')}}selected{{/if}}>Read</option>
                        </select>
                        <span id="statusresult{{@index}}" class="result"></span>
                    <p>{{this.subject}}</p>
                    <p>{{this.date}}</p>
                   <p>{{{this.contentReplace}}}</p>
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p>No feedbacks available at the moment.</p>
    {{/if}}
</div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script type="text/javascript">
    var socket = io();
    var index;
    var oldvalue;
    var item;

    function changed (a, b, c) {
        index = a;
        oldvalue = b;
        item = c;
        let id =  document.getElementById('id' + index).value;
        socket.emit('admin-change-event', id, document.getElementById(item + index).value, item, (response) => {
            if (response.status == 'ok') {
                console.log('Changed:' + item);
                document.getElementById(item + 'result' + index).innerHTML = item + " changed: " + oldvalue + " => " + document.getElementById(item + index).value;
                document.getElementById(item + index).blur();
            } else {
                console.log("failed :" + response.status);
                document.getElementById(item + 'result' + index).innerHTML = "Change failed!";
            }
        });
    }
</script>