<h1>Welcome to the homepage of {{title}}</h1>
<br>
{{#if (eq this.admin "admin")}}{{> admin-navigation}}{{else}}{{> navigation}}{{/if}}
<br>
<div class="maincontent">
    <div id="row1">
        <div class="infobox">
            <p>Visitors since 01.04.2025: {{visitors}}</p><br>
            <p>Park is open daily from 10am till 10pm</p>
        </div>
        <div class="weatherbox">
            <div class="boxtitle">
                Current weather:
            </div>
            <div class="curweather">
                Temperature: {{currentTemperature}}°C
            </div>
            <div class="weatherinfo">
                Highest: {{todayHigh}}°C<br>
                Lowest: {{todayLow}}°C
            </div>
            <div class="weatherinfo">
                Wind direction:<img src="arrow.svg" style="transform:rotate({{windDir}}deg); width: 30px; height: 30px;">
            </div>
            <br style='clear: left;'>
            <div class="weatherinfo">
                Clouds: {{clouds}}%
            </div>
            <div class="weatherinfo">
                Wind speed: {{windspeed}} ({{windgusts}}) km/h
            </div>
            <br style='clear: left;'>
            <div class="weatherinfo">
                Precipitation: {{precipitation}}mm
            </div>
            <div class="weatherinfo">
                {{weathercode}}
            </div>
            <br style='clear: left;'>
        </div>
        <br style='clear: left;'>
    </div>
<div class="blogs">
    <h2>Blog Posts</h2>
    {{#if posts.length}}
        <ul>
            {{#each posts}}
                <li>
                    <h3>{{this.title}}</h3>
                    <p>{{this.date}}</p>
                    <p> Likes: <span id="likes-count-{{this._id}}">{{this.likes}}</span>
                        <button onclick="likePost('{{this._id}}')">Like</button></p>
                   <p>{{{this.contentReplace}}}</p>
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p>No blog posts available at the moment.</p>
    {{/if}}
</div>

</div>

<!-- test -->

