<script type="text/javascript">
    async function deletePost(_id) {
        console.log('Delete: ' + _id);
        var status;
        try {
            const result = await fetch('/admin/delete-post', {
                method: "POST",
                body: JSON.stringify({ id: _id }),
                headers: {"Content-Type":"application/json"}
            })
            status = result.status;
        }
        catch (e) {
        }
        if (status === 201) {
            window.location.reload();
        }
    }
</script> 

<h1>Welcome to the homepage of {{title}}</h1>
<br>
{{#if (eq this.admin "admin")}}{{> admin-navigation}}{{else}}{{> navigation}}{{/if}}
<br>
<div class="maincontent">
    <div id="row1">
        <div class="infobox">
            <p>Visitors since 01.04.2025: {{visitors}}</p><br>
            <p>Park is open daily from 10am till 10pm</p>
        </div>
        <div class="weatherbox">
            <div class="boxtitle">
                Current weather:
            </div>
            <div class="curweather">
                Temperature: {{currentTemperature}}°C
            </div>
            <div class="weatherinfo">
                Highest: {{todayHigh}}°C<br>
                Lowest: {{todayLow}}°C
            </div>
            <div class="weatherinfo wind-text">
                Wind direction:<img src="arrow.svg" alt="{{windDir}} degrees" style="transform:rotate({{windDir}}deg); width: 30px; height: 30px;">
            </div>
            <br style='clear: left;'>
            <div class="weatherinfo">
                Clouds: {{clouds}}%
            </div>
            <div class="weatherinfo">
                Wind speed: {{windspeed}} ({{windgusts}}) km/h
            </div>
            <br style='clear: left;'>
            <div class="weatherinfo">
                Precipitation: {{precipitation}}mm
            </div>
            <div class="weatherinfo">
                {{weathercode}}
            </div>
            <br style='clear: left;'>
        </div>
        <br style='clear: left;'>
    </div>
<div class="blogs">
    <h2>Blog Posts</h2>
    {{#if posts.length}}
        <ul>
            {{#each posts}}
                <li>
                    <h3><a href="/post/{{this.id}}">{{this.title}}</a></h3>
                    <p>{{this.date}}</p>
                {{#if this.imageUrl}}
                    <img src="{{this.imageUrl}}" alt="{{this.imageDesc}}" style="max-width: 100%; height: auto;">
                {{/if}}
                    <p>{{{this.contentReplace}}}</p>
                <p>
                    <button class="like-post-button" data-id="{{this.id}}">Like &#x1F44D</button>
                    <span id="likes-count-{{this.id}}">{{this.likes}}</span> Likes 
                </p>
                <p>Comments: {{comments}}</p>
                <br>
                {{#if (eq ../this.admin "admin")}}<p><button onclick="deletePost('{{this.id}}')">Delete</button></p>{{/if}}
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p>No blog posts available at the moment.</p>
    {{/if}}
</div>

</div>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        document.querySelector(".blogs").addEventListener("click", async (e) => {
            if (e.target.classList.contains("like-post-button")) {
                const postId = e.target.dataset.id;
                try {
                    let response = await fetch("/like-post", {
                        method: "POST",
                        body: JSON.stringify({ id: postId }),
                        headers: { "Content-Type": "application/json" }
                    });
                    if (!response.ok) {
                        throw new Error("Network response was not ok " + response.statusText);
                    }
                    let data = await response.json();
                    if (data.likes !== undefined) {
                        document.getElementById(`likes-count-${postId}`).innerText = data.likes;
                    } else {
                        console.error("Likes data is missing in the response.");
                    }
                } catch (e) {
                    console.error(e);
                    alert("Request to like the post failed.");
                }
            }
        });
    });
</script>