<script type="text/javascript">
function save(id) {
    fetch('/admin/save-status', {
        method: "POST",
        body: JSON.stringify({id: document.getElementById('id' + id).value, status: document.getElementById('status' + id).value}),
        headers: {"Content-Type":"application/json"}
    })}
    
</script> 

<h1>View received feedbacks</h1>
<br>
{{> admin-navigation}}
<br>
<div class="maincontent">
    <div class="blogs">
    <h2>Feedbacks</h2>
    {{#if feedbacks.length}}
        <ul>
            {{#each feedbacks}}
                <li>
                    <h3>{{this.email}}</h3>
                        <input type="hidden" id="id{{@index}}" value={{this.id}}>
                        <label for="status">Status:</label>
                        <select id="status{{@index}}" name="status" onchange="save({{@index}})">
                            <option value="New" {{#if (eq this.status 'New')}}selected{{/if}}>New</option>
                            <option value="Read" {{#if (eq this.status 'Read')}}selected{{/if}}>Read</option>
                        </select>
                    <p>{{this.subject}}</p>
                    <p>{{this.date}}</p>
                   <p>{{{this.contentReplace}}}</p>
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p>No feedbacks available at the moment.</p>
    {{/if}}
</div>
</div>