<h1>View reported issues</h1>
<br>
{{> admin-navigation}}
<br>
<div class="maincontent">
    <div class="blogs">
    <h2>Issues</h2>
    {{#if issues.length}}
        <ul>
            {{#each issues}}
                <li>
                    <h3>{{this.email}}</h3>
                   <label for="status">Status:</label>
                   <form action="/save-changes" method="POST">
                        <input type="hidden" id="issues">
                        <select id="status" name="status" onchange="this.form.submit(); return false">
                            <option value="New" {{#if this.status == "New"}}selected{{/if}}>New</option>
                            <option value="In progress" {{#if this.status == "In progress"}}selected{{/if}}>Read</option>
                            <option value="Done" {{#if this.status == "Done"}}selected{{/if}}>Read</option>
                        </select>
                    </form>
                    <p>{{this.subject}}</p>
                    <p>{{this.date}}</p>
                   <p>{{{this.contentReplace}}}</p>
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p>No issues available at the moment.</p>
    {{/if}}
</div>
</div>