<h1>View received feedbacks</h1>
<br>
{{> admin-navigation}}
<br>
<div class="maincontent">
    <div class="blogs">
    <h2>Feedbacks</h2>
    {{#if feedbacks.length}}
        <ul>
            {{#each feedbacks}}
                <li>
                    <h3>{{this.email}}</h3>
                    <form action="/save-changes" method="POST">
                        <input type="hidden" id="feedback">
                        <label for="status">Status:</label>
                        <select id="status" name="status">
                            <option value="New" {{#if this.status == "New"}}selected{{/if}}>New</option>
                            <option value="Read" {{#if this.status == "Read"}}selected{{/if}}>Read</option>
                        </select>
                    </form>
                    <p>{{this.subject}}</p>
                    <p>{{this.date}}</p>
                   <p>{{{this.contentReplace}}}</p>
                </li>
            {{/each}}
        </ul>
    {{else}}
        <p>No feedbacks available at the moment.</p>
    {{/if}}
</div>
</div>